[submodule "libs/maiapi"]
	path = libs/maiapi
	url = https://github.com/lavaFrai/maiapi
[submodule "libs/exler-maiapi"]
	path = libs/exler-maiapi
	url = https://github.com/lavaFrai/exler-maiapi
[submodule "libs/maidata"]
	path = libs/maidata
	url = https://github.com/lavaFrai/maidata
[submodule "libs/maiApplicantsParser2024"]
	path = libs/maiApplicantsParser2024
	url = https://github.com/lavaFrai/maiApplicantsParser2024
