body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;


    font-family: "Roboto", Arial, sans-serif;

    --primary: #0095DA;
    --background: #e6e6e6;
    --foreground: #111;
    --foreground-inaccent: #222;

    color: var(--foreground);
    background: var(--background);

    overflow-x: hidden;
}

body {
    background-image: url("/static/media/background-light.svg");
}

@media (prefers-color-scheme: dark) {
    body, html {
        --primary: #B0DCFF;
        --background: #111;
        --foreground: #fff;
        --foreground-inaccent: #D4D4D4;
    }

    body {
        background-image: url("/static/media/background.svg");
    }
}

main {
    max-width: 900px;
    width: inherit;
    height: 100%;
    margin: auto;
    padding: 0 20px;
}

header {
    max-width: 900px;
    margin: auto;
    padding: 8px 12px;
}

.title {
    font-weight: 600;
    line-height: 48px;
    font-size: 1.4em;
    color: var(--primary);
    user-select: none;
}

.app-icon {
    margin-right: 16px;
}

#screenshots > li > img {
    border-radius: 4px;
    margin-right: 16px;
    height: 200px;
}

#screenshots > li {
    list-style-type: none;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
body::-webkit-scrollbar-track {
    background: #fff1;
}
body::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #fff2;
}

#screenshots {
    margin: 0;
    padding: 0;
    overflow-x: auto;
}

#screenshots::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
#screenshots::-webkit-scrollbar-track {
    background: #fff1;
}
#screenshots::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #fff2;
}