.app-title {
    margin: 16px 0 4px;
    font-weight: 300;
    font-size: 1.9em;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: var(--primary);
}

p {
    margin: 0!important;;
    padding: 0!important;
    line-height: 1.5em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    unicode-bidi: isolate;
    color: var(--foreground-inaccent);
}

li {
    line-height: 1.5em;
    color: var(--foreground-inaccent);
}

h2 {
    font-size: 1.6em;
    line-height: 1.5em;
    margin: 1em 0 0.5rem;
}